<% provide(:title, 'Despre noi') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Aplicatie de gestiune - Ruby on Rails | <%= yield(:title) %></title>
  </head>
  <body>
<h1>Despre noi</h1>
<p>
  Primul nostru proiect folosind Ruby on Rails.
</p>
  </body>
</html>

